.clearfix.filter {
  margin-right: 20px;
}

.options.filter {
  margin-top: -32.5px;
}

a.create-new:focus {
  outline: 0;
}

.news_feed_header_left {
  padding-left: 0px;
  padding-right: 7px;
}
.news_feed_header_right{
  margin: 10px 0px;
}

.news_feed_header_right body .under-tabs{
  margin-bottom: 0px;
}