<div class="cm-nav-links new-to-bottom-xs">
  <%= link_to t('invites.i_received'), company_invites_received_path(@company), class: 'active' %>
  <%= link_to t('invites.i_sent'), create_users_url%>

  
</div>