<div class="autohide-finder">
  <input type="text" class="form-control filter-input-js" data-items="<%= items %>" value="<%= params[:query] %>">
  <%= link_to '#' do %>
    <i class="fa fa-search"></i>
  <% end %>
</div>
