<% content_for :head do %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
  <%= javascript_tag "Stripe.publishableKey = '#{Rails.application.secrets.stripe_publishable_key}';" %>
<% end %>

<% @submenu_title = Deal.model_name.human(count: 2).capitalize
  @submenu_item = 'deals'
%>
<div class="inner-section col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-2 no-padding">
  <div class="well clearfix">
    <h1>
      <i class="fa fa-tag"></i>
      <span class="black"><%= t('general.create_record', record_name: Deal.model_name.human.capitalize) %></span>
    </h1>

    <div class="blue-borders">
      <%= render 'form' %>
    </div>

  </div>
</div>
