<div class="modal fade form-new-object payment-account" id="new-payment-account-modal-<%= @account.building.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Bank account > <%= @account.building.name %></h4>
      </div>
      <div class="modal-body">
        <%= render 'payment_accounts/form', account: @account %>
      </div>
    </div>
  </div>
</div>

