<div class="list-header clearfix">
  <%= t 'folders.header_names.name' %>
  <div class="document-details">
    <div class="creator"><%= t 'folders.header_names.created_by' %></div>
    <div class="date"><%= t 'folders.header_names.date' %></div>
    <div class="size"><%= t 'folders.header_names.size' %></div>
  </div>
</div>